  <!-- берет инфу из глв шаблона -->
{% extends 'base.html' %} 
<!-- включен файл includes  -->

{% include 'includes/header.html' %}

{% block content %}
<!-- класс py-5 создает отступы сверху и снизу блока -->
<div class="container py-5">
  <h1>{{ group.title }}</h1>
  <p>
    {{ group.description }}
  </p>
  {% for post in posts %}
  <article>
    <ul>
      <li>
        Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text }}</p>
    {% if not forloop.last %}<hr>{% endif %}
  </article>
{% endfor %}
  <!-- под последним постом нет линии -->
</div>
{% endblock %}
<!-- то что описано в include/footer.html -->